{% extends 'base.html.twig' %}

{% block title %}
Competence
{% endblock %}

{% block banniere_text %}
DETAILS COMPETENCES - DETAILS COMPETENCES - DETAILS COMPETENCES - DETAILS COMPETENCES - DETAILS COMPETENCES 
{% endblock %}

{% block body %}

<a href={"/competence/{{competence.id}}"}>
<p>{{competence.nom}}</p>
<p>{{competence.description}}</p>
</a>
{% include 'inscription/index.html.twig' %}
 
{% endblock %}
