{% extends 'base.html.twig' %}

{% block title %}
  Connexion
{% endblock %}

{% block banniere_text %}
  CONNEXION - CONNEXION - CONNEXION - CONNEXION - CONNEXION - CONNEXION - CONNEXION
{% endblock %}

{% block body %}
  {# {% for examen in examens %}
    <h1>
      {{ examen.competence.nom }}
    </h1>

    <p>
      {{ examen.competence.description }}
    </p>

    <small>{{ examen.ville }}</small> #}
  {# {% endfor %} #}
{% endblock %}
