{% extends 'base.html.twig' %}

{% block title %}
  Modifier mon mot de passe
{% endblock %}

{% block banniere_text %}
  <div class="slider">
    <ul class="slide">
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>

      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
      <li class="item_slide">Modifier</li>
    </ul>
  </div>
{% endblock %}

{% block body %}
	<link rel="stylesheet" href={{ asset('assets/css/profil.css') }}>

  {% for error in app.flashes('error') %}
    <p>
      {{ error }}
    </p>
  {% endfor %}

  <form method="POST">
    <label for="password1">Password</label>
    <input type="password" name="password1" />
    <br />
    <label for="password2">Confirm your password</label>
    <input type="password" name="password2" />

    <button class="btn__histo">Edit Password</button>
  </form>
{% endblock %}
