{% extends 'base.html.twig' %}

{% block title %}
  Modifier mon mot de passe
{% endblock %}

{% block banniere_text %}
  MODIFIER MON MOT DE PASSE
{% endblock %}

{% block body %}
  {% for error in app.flashes('error') %}
    <p>
      {{ error }}
    </p>
  {% endfor %}

  <form method="POST">
    <label for="password1">Password</label>
    <input type="password" name="password1" />
    <br />
    <label for="password2">Confirm your password</label>
    <input type="password" name="password2" />

    <button>Edit Password</button>
  </form>
{% endblock %}
