/*////////////////////////////// partie competence /////////////////////////////// */

main {
    background-color: var(--bgmauve);
}

.main-container {
    margin: 0 auto;
    width: 80%;
    padding-top: 3rem;
    height: 750px;
    /* position: relative; */
}

.layout-accueil {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 3rem;
}

.layout-accueil::-webkit-scrollbar {
    width: 10px;
}

.layout-accueil::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
}

.layout-accueil::-webkit-scrollbar-thumb {
    background-color: var(--colorpurple);
    border-radius: 20px;
}

.comp-box {
    margin-right: 2rem;
    background-color: var(--colorwhite);

    padding: 1.5rem;
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;
    box-sizing: 0;
    margin-bottom: 1rem;

    /* empecher que les 5 compétences rentrent dans le contenair(parent).
    on reserve une place minimal à chaque box, on empeche le display:flex de les compresser sur le meme ligne, dans leur contenair width 80%. */
    flex-grow: 1;
    /*les box on totue la même taille */
    flex-shrink: 0;
    /* avec le 0 on interdit aux box de se retrecir */
    flex-basis: 400px;
    /* on donne une taille minimum au box */
    margin-left: 1rem;
}

h1 {
    color: var(--colorblack);
    font-family: Gambetta;
    font-weight: 700;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.message_alerte {
    font-family: Cabinet Grotesk;
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.h2-accueil {
    color: var(--colorpurple);
    font-family: Gambetta;
    font-weight: 700;
    font-size: 1.4rem;
}

.contenu-accueil {
    font-size: 1.05rem;
    color: var(--colorblack);
    text-align: justify;
    /* font-size: 1.15rem; */
    font-weight: 500;
    font-family: Cabinet Grotesk;

}

.title-comp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picto-accueil {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--colorpurple);
}

.btnMore {
    border-radius: 20px;
    border: 2.9px solid;
    border-color: var(--colorpurple);
    font-family: Gambeta;
    background-color: var(--colorwhite);
    display: flex;
    margin: 0 auto;
    color: var(--colorpurple);
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}

.box-comp {
    text-decoration: none;
}

/* responsive */

@media screen and (max-width: 767px) {

    .comp-box {
        flex-basis: 300px;
    }
}