:root {
    --colorwhite : rgba(255, 255, 255, 1);
    --colorblack : rgba(0, 0, 0, 1);
    --colorpurple: rgba(127, 90, 240, 1);
    --bgmauve    : rgba(209, 209, 233, 1);
    --bgfooter   : rgba(22, 22, 26, 1);
    --bgavatar   : rgba(217, 217, 217, 1);
}

@font-face {
    font-family: "Gambetta";
    src        : url("../fonts/Gambetta-Bold.otf");
    src        : url("../fonts/Gambetta-BoldItalic.otf");
    src        : url("../fonts/Gambetta-Italic.otf");
    src        : url("../fonts/Gambetta-Light.otf");
    src        : url("../fonts/Gambetta-LightItalic.otf");
    src        : url("../fonts/Gambetta-Medium.otf");
    src        : url("../fonts/Gambetta-MediumItalic.otf");
    src        : url("../fonts/Gambetta-Regular.otf");
    src        : url("../fonts/Gambetta-Semibold.otf");
    src        : url("../fonts/Gambetta-SemiboldItalic.otf");

    font-family: "CabinetGrotesk";
    src        : url("../fonts/CabinetGrotesk-Bold.otf");
    src        : url("../fonts/CabinetGrotesk-Black.otf");
    src        : url("../fonts/CabinetGrotesk-Bold.otf");
    src        : url("../fonts/CabinetGrotesk-Extrabold.otf");
    src        : url("../fonts/CabinetGrotesk-Extralight.otf");
    src        : url("../fonts/CabinetGrotesk-Light.otf");
    src        : url("../fonts/CabinetGrotesk-Medium.otf");
    src        : url("../fonts/CabinetGrotesk-Regular.otf");
    src        : url("../fonts/CabinetGrotesk-Thin.otf");
}

/* * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing : border-box;
} */

body {
    margin    : 0;
    padding   : 0;
    height    : 100%;
    width     : 100%;
    min-height: 100vh;
    overflow-y: scroll;
}


/* Partie Header */

#header-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url('../img/etudierNB.jpg');
    background-repeat  : no-repeat;
    background-position: 70% 30%;
    background-size    : cover;
}

.container-fluid {
    padding-top   : 4em;
    padding-bottom: 1em;
}

/* Slogan + Centre examen gros titre  */

.header-title {
    font-family: Gambetta;
    font-weight: 400;
    font-size  : 24px;
    padding-top: 4em;
    color          : var(--colorwhite);
}

#title {
    font-family: CabinetGrotesk;
    color          : var(--colorwhite);
}

#title p {
    font-size: 6em;
    color          : var(--colorwhite);
}


#title a {
    font-size      : 35px;
    font-weight    : 700;
    text-decoration: none;
    color          : var(--colorwhite);
}

.title-left {
    margin-left: 1.3em;
    text-align : left;
    line-height: 1;
}

.title-right {
    margin-left: 1em;
    text-align : center;
    line-height: 0.9;
}

p>a {
    text-decoration: none;
    color          : var(--colorwhite);
}

/* partie navbar header (contact/Connexion/Inscription) */

.navbars {
    /*  margin     : 0 auto; */
    font-family    : Gambetta;
    font-size      : 22px;
    display        : flex;
    justify-content: flex-end;

}

.navbars li {
    margin-right: 2em;
}

.navbars a {
    text-decoration: none;
    font-weight    : 300;
    color          : var(--colorwhite);
}

.navbars-left {
    margin-left: 33em;
}

.navbars-right {
    margin-left : auto;
    margin-right: 2em;
}

/* Partie sous-navbar */

.navbar-height {
    height: 100%;
}

#header.hide {
    display           : none;
   overflow : auto;
}

.navbar {
    box-sizing   : content-box;
    align-content: center;
    display      : flex;
    color        : var(--colorblack);
    top          : 0;
    width        : 100%;
    display      : block;
    transition   : top 0.3s;
    position     : relative;
}


.navbar-brand h2 {
    margin-left   : 1em;
    font-family   : Cabinet Grotesk;
    font-size     : 36px;
    font-weight   : bold;
    line-height   : 1em;
    letter-spacing: 0.2em;
    color         : var(--colorblack);
}

.collapse {
    justify-content: center;
    align-content  : center;
    margin-left: 3em;

}

.navbar-nav a {
    font-weight    : bold;
    font-size      : 20px;
    margin-right   : 4em;
    text-decoration: none;
    color          : var(--colorblack);
}

a:hover{
    color: var(--colorpurple);
}


/* footer */


.containerFooter {
    background-color: var(--colorblack);
}

.containerLogo {
    flex-basis: 200px;
}

.logoFooter {
    font-family: CabinetGrotesk;
    font-size  : 60px;
    font-weight: bolder;
    color      : var(--colorwhite);
    line-height: 70px;
}

.containerMenuFooter {
    gap       : 60px;
    margin-top: 50px;
}

.menuFooter {
    margin-bottom: 30px;
}

.liensFooter {
    text-decoration: none;
    color          : var(--colorwhite);
    font-family    : Gambetta;
}

.liensFooter:hover {
    color: var(--colorpurple);
}

.copyright {
    align-self : flex-end;
    color      : var(--colorwhite);
    text-align : right;
    font-family: "Gambetta";
}






































































