/* style page index de competence */

main {
    background-color: var(--colorwhite);
}

.main-container {
    width: 80%;
    margin: auto;
    margin-top: 3rem;

}

.competence-box {
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;
}

.box-comp {
  
    text-decoration: none;
}

.title-comp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picto-comp {
    font-size: 1.5rem !important;
    font-weight: 600;
    color: var(--colorpurple);
}

h1 {
    color: var(--colorblack);
    font-family: Gambetta;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: var(--colorpurple);
    font-family: Gambetta;
    font-weight: 700;
}

p {
    color: var(--colorblack);
    text-align: justify;
    font-size: 1.15rem;
    font-weight: 500;
    font-family: Cabinet Grotesk;
}

.active>.page-link {
    background-color: var(--bgmauve);
    border: 1px solid var(--bgmauve);
    color: var(--colorpurple);
    font-weight: 700;
}

.page-link {
    color: var(--colorpurple);
    border: 1px solid var(--bgmauve);
}

/* ///////////////////////// style page show de competence  ///////////////////////////*/

main {
    margin-top: 0;
    margin-bottom: 0;
    /* min-height: 100vh; */
    background-color: var(--colorwhite);

}

.message_alerte{
font-family: Cabinet Grotesk;
font-weight: 600;
font-size: 1.2rem;
}

.box-examen {
    padding: 1.5rem;
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;
    background-color: var(--colorwhite);
    /* margin-bottom: 1rem; */
    height: 100%;
    gap:20px;
    display: flex;
}

.box-examen>p {
    /* margin: 0; */
    /* color: var(--colorblack); */
}



.date {
    font-family: Gambetta;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--colorpurple);
    /* margin-left: auto;
    margin-top: -10px; */
    margin: 0;
}

.date-mois {
    margin-top: -30px;
    margin-bottom: -5px;
}

.details-examen {
    display: flex;
    align-items: center;
    color: var(--colorblack);
    /* margin-top: 0.3rem;
    margin-bottom: -5px; */
}

.details-examen>p {
    color: var(--colorblack);
    text-align: left;
    padding-left: 0.7rem;
    font-size: 1.1rem;
    margin: 0;
}

/*////////////////////////// formulaire inscription /////////////////////////*/

.formulaire-comp {
    background-color: var(--bgmauve);
    /* padding: 5rem; */
}

.form-box {
    background-color: var(--colorwhite);

    position: sticky !important;
    top: 150px !important;

    padding: 1.5rem;
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;

    width: 80%;
    margin: auto;
}

h3 {
    color: var(--colorpurple);
    font-family: Gambetta;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.details-date {
    display: flex;
    flex-direction: column; 
    /* margin-bottom: 1rem;  */
}

label {
    color: var(--colorblack);
    font-family: Gambetta;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* select {
    appearance: none;
} */

.selection-examen {
    border-radius: 20px;
    padding: 6px;
    border: 2px solid;
    border-color: var(--colorpurple);
    margin-bottom: 1rem;
    font-family: Cabinet Grotesk;
    font-weight: 500;
    
}

option {
    font-family: Cabinet Grotesk;
}

.btnMore {
    border-radius: 20px;
    border: 2.9px solid;
    border-color: var(--colorpurple);
    font-family: Gambeta;
    background-color: var(--colorwhite);
    display: flex;
    margin: 0 auto;
    color: var(--colorpurple);
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}