/* registration form */


.containerInscription {
    gap: 50px;
}

.containerImgInscription {
    height: 757px;
}

.imgInscription {
    width: 100%;
    object-fit: cover;
    height: 757px;
}

.containerRegisterForm>h1 {
    color: var(--colorpurple);
    font-family: "Gambeta";
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
}

/* box noir avec ombre */
.box {
    margin: auto;
    padding: 1.5rem;
    /* padding: 50px; */
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;
}

/* fin box noire avec ombre */

.inputStyle {
    border: var(--colorpurple) solid 2px;
    width: 100%;
    padding: 4px 9px;
    font-weight: 400;
    font-family: Cabinet Grotesk;
}

.inputClassic {
    border-radius: 50px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--bgmauve);
}

#registration_form_plainPassword {
    border-radius: 50px;
    border: var(--colorpurple) solid 2px;
    width: 100%;
    padding: 4px 9px;
}

.containerRegisterForm>form>div {
    margin-top: 10px;
}

.containerRegisterForm>form>div>label {
    font-family: Gambeta;
    padding-left: 10px;
    font-weight: 800;
}

#registration_form_date {
    display: flex;
    gap: 10px;
}

#registration_form_date>select:focus {
    outline: none;
    box-shadow: 0 0 10px var(--bgmauve);
}

#registration_form_date>select {
    background-color: var(--colorwhite);
    border-color: var(--colorpurple);
    border-radius: 20px;
    padding: 6px 4px 6px 5px;
    border-style: solid;
    font-weight: 400;
    font-family: Cabinet Grotesk;
}

.containerRegisterForm>form>div:nth-child(7) {
    text-align: center;
    margin-top: 20px;
}

#registration_form_agreeTerms {
    margin-left: 10px;
}

input[type=checkbox] {
    accent-color: var(--colorpurple);
}

/* btn purple */
.btnPurple {
    border-radius: 20px;
    border-color: 2px solid var(--colorpurple);
    background-color: var(--colorpurple);
    color: var(--colorwhite);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-style: none;
    padding: 4px;
    font-family: Gambeta;
    font-weight: bold;
    padding: 6px;
}

.btnPurple:hover {
    border: var(--colorblack);
    background-color: var(--colorblack);
}

/* fin btn purple */

/* message erreur email existant */
ul{
    list-style-type: none;  
    font-family: gambeta;
    color:red;
    padding-left: 10px;
}


/* fin registration form */