/* popup */


*{
    box-sizing: border-box;
}

.box{
    margin: auto;
    padding: 1.5rem;
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;
    text-align: center;
}

h5{
    color: var(--colorpurple) !important;
    font-family: "Gambeta";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1rem;
}

p{
    font-weight: 400;
    font-family: Cabinet Grotesk;
}

.btnPurple {
    border-radius: 20px;
    border-color: 2px solid var(--colorpurple);
    background-color: var(--colorpurple);
    color: var(--colorwhite);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-style: none;
    font-family: "Gambeta";
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
}

.btnContourPurple{
    border-radius: 20px;
    color:var(--colorpurple);
    border-color: var(--colorpurple);
    background-color: var(--colorwhite);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Gambeta";
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--colorpurple);
}

a:hover{
    color:var(--colorwhite);
}

.btnPurple:hover {
    border: var(--colorblack);
    background-color: var(--colorblack);
}

.btnContourPurple:hover{
    border: 2px solid var(--colorblack);
    background-color: var(--colorblack);
    color: var(--colorwhite);
}

/* fin popup */