input:disabled {
    color: var(--colorpurple);
    border: none;
}

#edit_utilisateur_nom:disabled,
#edit_utilisateur_prenom:disabled {
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:disabled {
    color: var(--colorpurple);
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#label_form label:nth-child(1),
#label_form label:nth-child(2) {
    display: none;
}

.active {
    display: block !important;
}

label {
    font-weight: bolder;
}

.box {
    border: 3px solid var(--colorblack);
    box-shadow: -5px 5px var(--colorblack);
    border-radius: 20px;
}

.to_come {
    background-color: var(--bgmauve);
}

.date_comp {
    background-color: var(--colorpurple);
    aspect-ratio: 1;
    min-width: 100px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.comp_name {
    color: var(--colorpurple);
}

.btn__histo {
    color: var(--colorpurple);
    border: 2px solid var(--colorpurple);
    padding: .5rem;
    text-decoration: none;
    border-radius: 50px;
    transition: all .2s linear;
    flex-basis: 30%;
    text-align: center;
}

.btn__histo:hover {
    color: var(--colorpurple) !important;
    box-shadow: -5px 5px var(--colorpurple) !important;
    border: 2px solid var(--colorpurple) !important;
}

.btn__histo__plain {
    color: white;
    background-color: var(--colorpurple);
    border: 2px solid var(--colorpurple);
    padding: .5rem;
    text-decoration: none;
    border-radius: 50px;
    transition: all .2s linear;
    flex-basis: 30%;
}

.btn__histo__plain:hover {
    color: var(--colorpurple) !important;
    background-color: white !important;
    box-shadow: -5px 5px var(--colorpurple);
    border: 2px solid var(--colorpurple) !important;
}

button[data-id="modifier"] {
    flex-basis: 30%;
}

.active>.page-link {
    background-color: var(--bgmauve);
    border: 1px solid var(--bgmauve);
    color: var(--colorpurple);
    font-weight: 700;
}

.page-link {
    color: var(--colorpurple);
    border: 1px solid var(--bgmauve);
}
