:root {
    --colorwhite: rgba(255, 255, 255, 1);
    --colorblack: rgba(0, 0, 0, 1);
    --colorpurple: rgba(127, 90, 240, 1);
    --bgmauve: rgba(209, 209, 233, 1);
    --bgfooter: rgba(22, 22, 26, 1);
    --bgavatar: rgba(217, 217, 217, 1);
}

@font-face {
    font-family: "Gambetta";
    src: url("../fonts/Gambetta-Bold.otf");
    src: url("../fonts/Gambetta-BoldItalic.otf");
    src: url("../fonts/Gambetta-Italic.otf");
    src: url("../fonts/Gambetta-Light.otf");
    src: url("../fonts/Gambetta-LightItalic.otf");
    src: url("../fonts/Gambetta-Medium.otf");
    src: url("../fonts/Gambetta-MediumItalic.otf");
    src: url("../fonts/Gambetta-Regular.otf");
    src: url("../fonts/Gambetta-Semibold.otf");
    src: url("../fonts/Gambetta-SemiboldItalic.otf");

    font-family: "CabinetGrotesk";
    src: url("../fonts/CabinetGrotesk-Bold.otf");
    src: url("../fonts/CabinetGrotesk-Black.otf");
    src: url("../fonts/CabinetGrotesk-Bold.otf");
    src: url("../fonts/CabinetGrotesk-Extrabold.otf");
    src: url("../fonts/CabinetGrotesk-Extralight.otf");
    src: url("../fonts/CabinetGrotesk-Light.otf");
    src: url("../fonts/CabinetGrotesk-Medium.otf");
    src: url("../fonts/CabinetGrotesk-Regular.otf");
    src: url("../fonts/CabinetGrotesk-Thin.otf");
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/* registration form */


.containerImgInscription {
    height: 850px;
}

.imgInscription {
    width: 100%;
    object-fit: cover;
    height: 850px;
}

.containerRegisterForm>h1 {
    color: var(--colorpurple);
    font-family: "Gambeta";
    font-weight: bold;
    font-size: 24px;
}

/* box noir avec ombre */
.box {
    border-radius: 5px;
    border: solid 3px var(--colorblack);
    -webkit-box-shadow: -5px 5px 0px 2px var(--colorblack);
    box-shadow: -5px 5px 0px 2px var(--colorblack);
    padding: 50px;
}
/* fin box noire avec ombre */

.inputStyle {
    border-radius: 50px;
    border: var(--colorpurple) solid 2px;
    width: 100%;
    font-family: "Gambeta";
}

#registration_form_plainPassword {
    border-radius: 50px;
    border: var(--colorpurple) solid 2px;
    width: 100%;
}

.containerRegisterForm>form>div {
    margin-top: 10px;
}

.containerRegisterForm>form>div>label {
    font-family: "Gambeta";
}

#registration_form_date {
    display: flex;
    gap:10px;
    font-family: "Gambeta";
}

#registration_form_date>select {
    background-color: var(--colorwhite);
    border-color: var(--colorpurple);
    border-radius: 25px;
    padding: 4px;
    border-style: solid;
}

.containerRegisterForm>form>div:nth-child(7) {
    text-align: center;
    margin-top: 20px;
}

#registration_form_agreeTerms {
    margin-left: 10px;
}

/* btn purple */
.btnPurple {
    border-radius: 50px;
    border-color: var(--colorpurple);
    background-color: var(--colorpurple);
    color: var(--colorwhite);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-style: none;
    padding: 4px;
    font-family: "Gambeta";
    font-weight: bold;
}

.btnPurple:hover {
    border: var(--colorblack);
    background-color: var(--colorblack);
}
/* fin btn purple */

/* fin registration form */