{% extends "base.html.twig" %}

{% block body %}
	<link rel="stylesheet" href={{ asset('assets/css/experiment.css') }}>

{# <header>
  <div class="imgHeader">
        <h5 class="header-title">Un slogan d'accroche pour le centre d'examen</h5>
        <div id="title">
            <a href="{{ path('app_accueil') }}">
                <p class="title-left">Centre</p>
                <p class="title-right">examen</p>
            </a>
        </div>
    </div>
</header> #}
{# nav #}
 {# <nav class="navbar navbar-expand-lg navbar-light navMenu">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav> #}

    <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate ab qui at officiis ut, facere dignissimos aliquid reprehenderit ipsum eos, odit exercitationem quas. Recusandae ipsa iure eveniet esse debitis, unde officia accusantium ad quisquam tempore provident doloribus nemo, nam ullam exercitationem ut illum delectus sunt, velit assumenda possimus omnis quae itaque enim! Eligendi, sequi accusamus provident, dolor in, saepe sit eos eum nam optio asperiores autem. Assumenda itaque eaque eius obcaecati consequatur beatae atque soluta sunt odit quis? Tenetur molestiae, tempora numquam illum expedita deleniti vero eligendi doloribus aliquam dignissimos distinctio doloremque. Perferendis error atque quasi qui voluptate magnam nostrum natus. Beatae voluptate tenetur nisi! Consequatur voluptas quaerat ipsa dolorem. Maiores odit veniam dolores illum! Optio, sapiente et mollitia molestias exercitationem, nihil illo consectetur id ratione commodi ab vero quia delectus eaque reprehenderit nulla nobis aliquam ex? Aut, aspernatur eius. Quam sit quia voluptatibus reprehenderit sapiente error sequi nam, id totam cumque doloremque rem aut dolorem. Enim corporis tempora maxime, voluptates consequuntur ratione et distinctio tempore asperiores cum fugiat officia aperiam, voluptatibus doloremque minus temporibus impedit libero illo dignissimos molestias quis assumenda ad quas. Non neque eligendi, sint culpa error ab necessitatibus! Cumque cupiditate asperiores consequuntur mollitia rerum maxime.</p></div>


<script src="assets/js/experiment.js"></script>
			<script src="assets/js/caroussel_accueil.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}


{% block banniere_text %}
	<div class="slider">
		<ul class="slide">
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>

			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
			<li class="item_slide">Accueil</li>
		</ul>
	</div>
{% endblock %}
