{% extends 'base.html.twig' %}

{% block title %}
  Accueil!
{% endblock %}

{% block banniere_text %}
  FAQ - FAQ - FAQ - FAQ - FAQ - FAQ -
{% endblock %}

{% block body %}
  <h2>
    FAQ
  </h2>
{% endblock %}
