{% extends 'base.html.twig' %}

{% block title %}
  Accueil!
{% endblock %}

{% block banniere_text %}
  ACCUEIL - ACCUEIL - ACCUEIL - ACCUEIL - ACCUEIL - ACCUEIL -
{% endblock %}

{% block body %}
  {% for examen in examens|sort((a, b) => a.date > b.date) %}
    <h1>
      {{ examen.competence.nom }}
    </h1>

    <p>
      {{ examen.competence.description }}
    </p>

    <small>{{ examen.date|date('d/m/Y') }}</small>
  {% endfor %}
{% endblock %}
