{% extends 'base.html.twig' %}

{% block title %}
 Registration
{% endblock %}

{% block banniere_text %}
  REGISTRATION - REGISTRATION - REGISTRATION - REGISTRATION - REGISTRATION - REGISTRATION - 
{% endblock %}

{% block body %}
  {# {% for examen in examens %}
    <h1>
      {{ examen.competence.nom }}
    </h1>

    <p>
      {{ examen.competence.description }}
    </p>

    <small>{{ examen.date|date('m/d/Y') }}</small>
  {% endfor %} #}
{% endblock %}

