{% extends 'base.html.twig' %}

{% block title %}
Inscription
{% endblock %}

{% block banniere_text %}
  INSCRIPTION - INSCRIPTION - INSCRIPTION - INSCRIPTION - INSCRIPTION - INSCRIPTION -
{% endblock %}

{% block body %}

  {# {% for examen in examens %}
    <h1>
      {{ examen.competence.nom }}
    </h1>

    <p>
      {{ examen.competence.description }}
    </p>

    <small>{{ examen.ville }}</small>
  {% endfor %} #}
{% endblock %}
