{# {% extends 'base.html.twig' %} #}

{% block body %}
  <section class="error_404">
    <article class="error_text">
      <h1>
        404 - Page not found
      </h1>

      <p>
        Nous ne pouvons pas vous afficher la page que vous demandé.
      </p>

      <a class="btn__histo" href="#">Retouner à l'acceuil</a>
    </article>
  </section>
{% endblock %}
