{% extends 'base.html.twig' %}

{% block title %}
  Erreur rencontrée
{% endblock %}

{% block body %}
  <h1>
    500 - Page not found
  </h1>

  <p>
    Nous ne pouvons pas vous afficher la page que vous demandé.
  </p>
{% endblock %}
